<ng-container>
    <c-toast-header [closeButton]="closeButton" >
      <!-- <toast-sample-icon></toast-sample-icon> -->
      <strong>{{title}}</strong>
    </c-toast-header>
    <c-toast-body #toast [cToastClose]="toast.toast" style="background-color:rgb(178, 167, 244);">
      <p class="mb-1">{{content}}</p>
      <ng-content></ng-content>
      <c-progress thin>
        <c-progress-bar [value]="25*(toast.toast?.clock ?? 1)"></c-progress-bar>
      </c-progress>
    </c-toast-body>
  </ng-container>
